<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdBgGPZu8wSD7Og0w221SiswdxIyJGlWE</string>
	<key>GCM_SENDER_ID</key>
	<string>610383493325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benthanh.tourist</string>
	<key>PROJECT_ID</key>
	<string>benthanh-tourist</string>
	<key>STORAGE_BUCKET</key>
	<string>benthanh-tourist.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610383493325:ios:aa6116da0669ae61c75184</string>
</dict>
</plist>